input, textarea, select, text{
  appearance: none;
  width: 100%;
  border-radius: .5rem;
  border: 2px solid transparent;
  outline: 1px solid var(--input-stroke);
  padding: .75rem 1rem;

  font-family: var(--font-family-body);
  font-size: 1rem;
  font-weight: 400;
  line-height: auto;

  color: var(--text-body);
  background-color: var(--input-base);

  &:hover {
    border-color: var(--brand-light) !important;
    outline: 1px solid var(--brand-light);
  }
  
  &:focus {
    border-color: var(--brand-light);
    outline: none;
  }

  &::placeholder{
    color: var(--input-placeholder);
  }

  &[required] + .error {
    display: flex;
    align-items: center;
    gap: .25rem;

    font: var(--body);
    color: var(--danger);

    margin-top: .25rem;
  }

  &:valid + .error {
    display: none;
  }

  &:not(:focus):invalid {
    border: 1px solid transparent;
  }
  &:not(:focus):invalid + .error {
    display: none;
  }
  &:invalid {
    border: 2px solid var(--danger);
  }

}

label {
  display: block;
  margin-top: 1rem;
  margin-bottom: .75rem;
  font: var(--text-small);
  color: var(--text-body);
}